<%- include('partials/header', { user }) %>

<div class="container news-details">
  <h2><%= article.title %></h2>
  <% if (article.image) { %>
    <img src="<%= article.image %>" alt="News Image" class="details-image"/>
  <% } %>
  <p class="meta">By <%= article.author %> | <%= article.createdAt.toLocaleString() %></p>
  <p><%= article.content %></p>

  <a href="/" class="btn btn-secondary">Back to Home</a>
</div>

<%- include('partials/footer') %>
